.breadCrumbsContainer{
    margin: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}
.breadCrumbsSubContainer{
    display: flex;
}
.dashboardSvg{
    fill: rgba(17,43,74,0.84);
}
.breadCrumbsSlash{
    margin: 5px 0px 0px 10px;
    color: rgba(54,76,102,0.24);
    font-size: small;
}
.breadCrumbsSpan{
    color: rgba(17,43,74,0.84);
    margin: 5px 0px 0px 10px;
    font-size: small;
}
.breadCrumbSpan2{
    margin: 0px 0px 0px 3px;
    color: rgba(17,43,74,0.84);
}
.mainCard{
    margin: 30px;
    background-color: #F3F5F6;
    box-shadow: 0 3px 3px 2px rgba(0,0,0,0.2);
}
.fieldGrid{
    margin: 30px 20px 10px 20px !important;
    display: flex;
}
.toGrid{
    margin-left: auto !important;
}
.flex{
    display: flex;
}
.applyButton{
    margin: 0px 10px 0px auto !important;
}